html {
    scroll-behavior: smooth;
}
h1 {
    color: red;
}
h2 {
    color: chartreuse;
}
img {
    max-width: 100%;
    height: auto;
}
figcaption {
    text-align: center;
}
.sin-estilo {
    color: black;
}
a {
    text-decoration: none;   
}
li {
    list-style-type: none;
    text-align: left;
}
#semanticas {
    color: darkblue;
    font-size: 20px;
}
.estilo1 {
    font-size: 30px;
    font-size: 60px;
}